<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="36" android:versionName="1.2.0" package="com.sgrailways.giftidea">

    <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:name=".GiftIdeaApplication">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".IdeaActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".RecipientIdeasActivity">
          <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".RecipientIdeasActivity"/>
        </activity>
        <activity android:name=".RecipientIdeasActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".MainActivity">
          <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity android:name=".AboutActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".MainActivity">
          <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <provider
                android:name=".provider.GiftIdeaProvider"
                android:authorities="com.sgrailways.giftidea"
                android:exported="false"
                android:label="GiftIdeaProvider" />
    </application>
</manifest>
